html {
    background-color: lightgray;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkgrey;
    font-family: sans-serif;
}

p {
    border: 4em;
    border-color: darkgrey;
    display: block;
    margin: auto;
    width: 50%; 
}