body {
  background: #141617;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 15em;
} 

.main {
  height: 100vh;
}

.project {
  max-width: 800px;
  margin: 0 auto;
}

#first {
  text-align: right;
  margin-right: 20px;
  color: #f5f5dc;
}

#last {
  text-align: right;
  color: black;
}

#sidebar {
  margin-left: 20px;
  padding-left: 10px;
  height: 100%;
  z-index: 2;
}

#sidebar button {
  background: none;
  border:  none;
  padding: 20px 0px 20px 0px;
  font-size: 1em;
  color: #f5f5dc;
}

.section {
  position: absolute;
  font-size: 20vh;
  text-align: center;
  opacity: 40%;
 }

.arrow::before{
  content: '⌄';
  color: #f5f5dc;
  position: absolute;
  opacity: 0.8;

  font-size: 2rem;
  text-align: center;
  left: 50%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

