body {
  background: #141617;
}

/* li:after, li:before {
  display: block;
  content: '';
  border-bottom: solid 2px black; 
  transform: scaleX(0);  
  transition: transform 350ms ease-in-out;
}
  
li:hover:after { transform: scaleX(1); }  */

.content {
  background-color: #f5f5dc;
  border: solid 50px #141617;
  border-radius: 20px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 8em;
} 

#first {
  text-align: right;
  margin-right: 20px;
  color: #f5f5dc;
}

#last {
  text-align: left;
  color: black;
}

.arrow::before{
  content: '⮟';
  color: #f5f5dc;
  position: absolute;
  opacity: 0.8;

  font-size: 2rem;
  text-align: center;
  left: 50%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

