body {
    /*https://pixabay.com/photos/background-texture-grunge-distress-1874580/*/
    background-color: #1d2123;
    background-image: url("img/bgseamless.png");
}

#home {
    overflow: hidden;
    background-image:  url("img/bg.png");
}

h1 {
    position: absolute;
    top: 50%;
    right: 50%;

    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 72px;

    opacity: .8;
    color: transparent;

    animation: glow 4s ease infinite forwards;
}

#btn {
    margin-left: 45px;
    text-align: center;
    color: #129a2a;
}

h3 {
    text-align: left;
    color: #808080;
    font-size: 18px;

    font-family: 'Crimson Text', sans-serif;
    padding-left: 20px; 
}

a {
    text-decoration: none;
    text-align: center;
    font-family: 'Crimson Text', sans-serif;
    color: #129a2a;
    font-size: 18px;

    -webkit-transition: animation 1s;
    -moz-transition: animation 1s;
    transition: animation 1s;
}

a:hover {
    text-decoration: none;
    color: #129a2a;
    animation: glow 4s ease infinite forwards;
}

#begin {
    position: absolute;
    top: 60%;
    right: 50%;
}

#num11, #num10, #num8, #num7 {
    color: black;
    animation: none;

    opacity: .3;
    font-size: 90px;
    font-weight: bold;
}

#num10 {
    top: 22%;
    right: 52%;
}

#num11 {
    top: 0%;
    right: 45%;
}

#num8 {
    top: 72%;
    right: 53%;
}

#num7 {
    top: 95%;
    right: 45%;
}


#bighand {
    position: fixed;
    transform-origin: center bottom;

    right: 50px;
    bottom: 42%;
    animation: turn 20s linear infinite forwards;
}

#smallhand {
    position: fixed;
    transform-origin: center bottom;

    right: 50px;
    bottom: 42%;
    animation:  turn 10s linear infinite forwards;
}

.page {
    min-height: 100vh;
}

#tragedy {
    height: 200vh;
}

.content {
    display: flex;
    flex-direction: row;
}

.content2 {
    flex-direction: column;
}

#slideandp {
    order: 1;
    display: flex;
    flex-direction: row;
}

#ottawa {
    order: 2;
    margin: 30px 10px 10px 15%;
    width: 450px;
}

.slideshow2 img {
    margin: 0 auto;
}

#infoPG {
    background-image: url("img/bgseamless.png");
    position: fixed;
    right: 20px;
    margin: 20px 10px 10px 10px;
}

#infoPG a {
    color: #129a2a;
    margin-right: 20px;
}

h2 {
    color: #129a2a;
    font-family: 'Libre Baskerville', sans-serif;
    padding: 25px 10px 10px 20px;
}

#curie, .slideshow, .slideshow {
    order: 1;
    max-height: 600px;
    min-height: 100px;
    width: auto;
    margin-left: 20px;
}

#factoryimg {
    order: 1;
    max-height: 500px;
    width: auto;
    margin-left: 20px;
}

p {
    order: 2;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 40px;
    min-width: 200px;

    font-family: 'Crimson Text', sans-serif;
    color: #808080;
    font-size: 18px;
}

.slide, .slideNW, .slideNW2 {
    width: 400px;
}

.slideshow p {
    text-align: left;
    font-family: 'Crimson Text', sans-serif;
    color: #808080;

    margin: 0px 0px 0px 0px
}

ol, ul {
    margin-left: 50px;
}

li {
    font-family: 'Crimson Text', sans-serif;
    color: #808080;
    font-size: 18px;

    margin: 10px 10px 10px 10px;
}

sup {
    color: #129a2a;
}

#skeleton {
    margin: 0 auto;
    clear: both;
}

.marker {
    position: absolute;
    z-index: 2;
    font-size: 25px;

    color: #129a2a;
    animation: glow 2s ease infinite forwards;
}

#jaw {
    left: 43%;
    margin-top: 95px;
}

#jugular {
    left: 47%;
    margin-top: 145px;
}

#hair {
    left: 49%;
}

#bone {
    left: 43%;
    margin-top: 300px; 
}

#eyes {
    left: 48%;
    margin-top: 55px;
}

#hand {
    left: 32%;
    margin-top: 565px;
}

#spine {
    left: 46%;
    margin-top: 430px;
}

#baby {
    left: 46%;
    margin-top: 530px;
}

#lung {
    left: 49%;
    margin-top: 250px;
}

#foot {
    left: 50%;
    margin-top: 1100px;
}

#leg {
    left: 42%;
    margin-top: 900px; 
}

.detail {
    position: absolute;
}

#jawIN {
    left: 5%;
    width: 400px;
    margin-top: 40px;
    display: none;
}

#jugIN {
    left: 53%;
    width: 400px;
    margin-top: 145px;
    display: none;
}

#boneIN {
    width: 400px;
    left: 12%;
    margin-top: 240px;
    display: none; 
}

#hairIN {
    left: 51%;
    display: none;
}

#eyesIN {
    left: 50%;
    margin-top: 60px;
    display: none;
}

#spineIN {
    left: 50%;
    width: 400px;
    margin-top: 430px;
    display: none;
}

#babyIN {
    left: 49%;
    width: 400px;
    margin-top: 535px;
    display: none;
}

#handIN {
    display: none;
    left: 20%;
    margin-top: 560px;
}

#lungIN {
    display: none;
    left: 52%;
    margin-top: 252px;
}

#footIN {
    display: none;
    left: 51%;
    margin-top: 1130px;
}

#legIN {
    display: none;
    left: 12%;
    margin-top: 900px; 
    width: 400px;
}

#lists {
    display: flex;
    flex-direction: row;
}

#nj {
    order: 1;
    width: 33%;
}

#il {
    order: 2;
    width: 33%;
}

#cnc {
    order: 3;
    width: 33%
}

#src {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    color: #808080;
}

#state {
    font-size: 20px;
}

#credit {
    font-size: 12px;
    padding-left: 100px;
    color: #808080;
}

#seaborg {
    width: 300px;
    margin-bottom: 20px;
}

.quote {
    order: 1;
    padding-left: 20px;
    font-size: 50px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 50px;
}

@keyframes glow {
    0%   { text-shadow: .5px 0px 10px #11dd35;}
    10%  { text-shadow: 0px 0px 2px #11dd35;}
    25%  { text-shadow: .3px 0px 5px #11dd35;}
    50%  { text-shadow: 0px 0px 10px #11dd35;}
    75% { text-shadow: .5px 0px 15px #11dd35;}
    100%  { text-shadow: .3px 0px 10px #11dd35;}
    75% { text-shadow: .5px 0px 5px #11dd35;}
    50%  { text-shadow: 0px 0px 2px #11dd35;}
    25%  { text-shadow: 0px 0px 5px #11dd35;}
}

@keyframes turn {
    0%  { transform: rotate(0deg);}
    14.2%  { transform: rotate(51.4deg);}
    28.4% { transform: rotate(102.8deg);}
    42.8% { transform: rotate(154.2deg);}
    57% { transform: rotate(205.6deg);}
    71.2% { transform: rotate(257deg);}
    100% { transform: rotate(360deg);}
}