body {
    /*https://pixabay.com/photos/background-texture-grunge-distress-1874580/*/
    background-color: #1d2123;
    background-image: url("img/bgseamless.png");
}

#home {
    overflow: hidden;
    background-image:  url("img/bg.png");
}

h1 {
    position: absolute;
    top: 50%;
    right: 50%;

    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 72px;

    opacity: .8;
    color: transparent;

    animation: glow 4s ease infinite forwards;
}

h3 {
    text-align: left;
    color: #808080;
    font-size: 18px;

    font-family: 'Crimson Text', sans-serif;
    padding-left: 20px;

}

a {
    text-decoration: none;
    text-align: center;
    font-family: 'Crimson Text', sans-serif;
    color: #129a2a;
    font-size: 18px;

    -webkit-transition: animation 1s;
    -moz-transition: animation 1s;
    transition: animation 1s;
}

a:hover {
    text-decoration: none;
    color: #129a2a;
    animation: glow 4s ease infinite forwards;
}

#begin {
    position: absolute;
    top: 60%;
    right: 50%;
}

#num11, #num10, #num8, #num7 {
    color: black;
    animation: none;

    opacity: .3;
    font-size: 90px;
    font-weight: bold;
}

#num10 {
    top: 22%;
    right: 52%;
}

#num11 {
    top: 0%;
    right: 45%;
}

#num8 {
    top: 72%;
    right: 53%;
}

#num7 {
    top: 95%;
    right: 45%;
}


#bighand {
    position: fixed;
    transform-origin: center bottom;

    right: 50px;
    bottom: 42%;
    animation: turn 20s linear infinite forwards;
}

#smallhand {
    position: fixed;
    transform-origin: center bottom;

    right: 50px;
    bottom: 42%;
    animation:  turn 10s linear infinite forwards;
}

.page {
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
}

#infoPG {
    position: fixed;
    right: 20px;
    margin: 20px 10px 10px 10px;
}

#infoPG a {
    color: #129a2a;
    margin-right: 20px;
}

h2 {
    color: #129a2a;
    font-family: 'Libre Baskerville', sans-serif;
    padding: 25px 10px 10px 20px;
}

#curie, .slideshow {
    order: 1;
    height: 650px;
    margin-left: 20px;
}

p {
    order: 2;
    margin-left: 50px;
    margin-right: 40px;

    font-family: 'Crimson Text', sans-serif;
    color: #808080;
    font-size: 18px;
}

.slide {
    width: 400px;
}

.slideshow p {
    text-align: left;
    font-family: 'Crimson Text', sans-serif;
    color: #808080;

    margin: 0px 0px 0px 0px
}

ol, ul {
    margin-left: 50px;
}

li {
    font-family: 'Crimson Text', sans-serif;
    color: #808080;
    font-size: 18px;

    margin: 10px 10px 10px 10px;
}

sup {
    color: #129a2a;
}

#skeleton {
    margin: 0 auto;
}

.marker {
    position: absolute;
    z-index: 2;
    font-size: 25px;

    color: #129a2a;
    animation: glow 4s ease infinite forwards;
}

#jaw {
    left: 44%;
    margin-top: 95px;
}

#jugular {
    left: 47%;
    margin-top: 145px;
}

#hair {
    left: 49%;
}

#eyes {
    left: 48%;
    margin-top: 55px;
}

#spine {
    left: 46%;
    margin-top: 430px;
}

.detail {
    position: absolute;
}

#jawIN {
    left: 30%;
    margin-top: 85px;
    display: none;
}

#jugIN {
    left: 53%;
    margin-top: 145px;
    display: none;
}

#hairIN {
    left: 51%;
    display: none;
}

#eyesIN {
    left: 50%;
    margin-top: 60px;
    display: none;
}

#spineIN {
    left: 30%;
    margin-top: 430px;
    display: none;
}

@keyframes glow {
    0%   { text-shadow: .5px 0px 10px #11dd35;}
    10%  { text-shadow: 0px 0px 2px #11dd35;}
    25%  { text-shadow: .3px 0px 5px #11dd35;}
    50%  { text-shadow: 0px 0px 10px #11dd35;}
    75% { text-shadow: .5px 0px 15px #11dd35;}
    100%  { text-shadow: .3px 0px 10px #11dd35;}
    75% { text-shadow: .5px 0px 5px #11dd35;}
    50%  { text-shadow: 0px 0px 2px #11dd35;}
    25%  { text-shadow: 0px 0px 5px #11dd35;}
}

@keyframes turn {
    0%  { transform: rotate(0deg);}
    14.2%  { transform: rotate(51.4deg);}
    28.4% { transform: rotate(102.8deg);}
    42.8% { transform: rotate(154.2deg);}
    57% { transform: rotate(205.6deg);}
    71.2% { transform: rotate(257deg);}
    100% { transform: rotate(360deg);}
}